<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wayne.cs.bugu">
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.HARDWARE_TEST" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOVE_PACKAGE" />
    <uses-permission android:name="android.permission.MANAGE_USB" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion ="18" android:targetSdkVersion="18" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <!--service android:enabled="true" android:exported="true" android:name="PtopaService"></service-->
		<activity android:name="edu.wayne.cs.bugu.display.BuguTabWidget" android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        
        </activity>  
        <activity
            android:name="edu.wayne.cs.bugu.display.BuguActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.wayne.cs.bugu.display.AppPowerActivity"
            android:label="@string/app_name" >
        </activity>        
        <activity
            android:name="edu.wayne.cs.bugu.display.RecordActivity"
            android:label="@string/app_name" >
        </activity>             
        <activity
            android:name="edu.wayne.cs.bugu.display.SetupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="edu.wayne.cs.bugu.display.ResultActivity" android:label="@string/app_name"></activity>
        <activity android:label="@string/app_name" android:name="edu.wayne.cs.bugu.display.AvgPowerActivity"></activity>
        <activity android:label="@string/app_name" android:name="edu.wayne.cs.bugu.display.PFigureResultActivity"></activity>
        <activity android:label="@string/app_name" android:name="edu.wayne.cs.bugu.display.EFigureResultActivity"></activity>
        <activity android:name="edu.wayne.cs.bugu.display.ComparePowerActivity" android:label="@string/app_name"></activity>
        <service android:enabled="true" android:name=".monitor.PowerProfilingService"></service>
        </application>

</manifest>